* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}


 @media (min-width: 1200px) {
    
} 
 @media (min-width: 300px) {
 
} 
.image-conat {}

.profile-image {
    width: 100%;

    border: 1px solid #000000;
    border-radius: 12px;
    box-sizing: border-box;
}

.btn-resume{
    background-color: #FF8C8C;
}
.bg{
    background-color: #F9F9F9;
}
.bg-white{
    background-color: #fff;
}
.ts-12{
    font-size: 12px;
}
.ts-14{
    font-size: 14px;
}
.ts-16{
    font-size: 16px;
}
.ts-18{
    font-size: 18px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}